*.swp
*.o
*.pm.tdy
*.bs
/*.gz
!Build/
/META.yml
/META.json
/MYMETA.*
.last_cover_stats
cover_db/
nytprof.out
/.build/
_build/
Build
Build.bat
inc/
/blib/
/_eumm/
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
